@import "tailwindcss";

/* @keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: shimmer 4s ease-in-out infinite;
} */


@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(to right,  #ffffff, #800080); /* black → white → purple */
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 1s ease-in-out linear  infinite;
}
